* {
  margin: 0;
  padding: 0;
}

/* body{
    background-color: aqua;
} */

/* Shared Style  */

.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

.logo h2 {
  font-size: 45px;
  font-weight: 900;
}
.logo h2 span {
  color: #fd6e0a;
}

.btn {
  background-color: #fd6e0a;
  padding: 18px 35px;
  border: none;
  border-radius: 5px;
  font-size: 20px;
  font-weight: bold;
  color: #fff8f3;
  cursor: pointer;
}

.section-heading {
  max-width: 827px;
  margin: 0 auto; /*Amer Problem er solution */

  /* text-align: center; */
  /* align-items: center;
    justify-content: center; */
}

.section-heading h2 {
  font-size: 35px;
  margin-bottom: 30px;
  text-align: center;
  color: #181818;
}

.section-heading p {
  font-size: 18px;
  line-height: 30px;
  margin-bottom: 30px;
  color: #757575;
}

/* main style */

header {
  background-color: #fff8f3;
  padding-top: 50px;
  background:
    url(../images/developer.png), url(../images/header_bg.png), #fff8f3;
  background-position:
    top left,
    bottom right;
  background-repeat: no-repeat;
}

nav {
  width: 80%;
  max-width: 1340px;
  /* border: 1px solid red ; */
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .menu {
  display: flex;
  align-items: center;
  gap: 50px;
  list-style: none;
}

nav .menu a {
  font-size: 20px;
  text-decoration: none;
  color: #474747;
}

#banner {
  display: flex;
  /* border: 1px solid red; */
  margin: 46px 40px 0 230px;
  align-items: center; /* vertical */
  justify-content: center; /* horizontal */
}
#banner .banner-content {
  max-width: 580px;
}

#banner .banner-content h2 {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
  margin-bottom: 5px;
}

#banner .banner-content h1 {
  font-size: 80px;
  font-weight: bold;
  color: #181818;
  margin-bottom: 20px;
}

#banner .banner-content p {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
  line-height: 30px;
  margin-bottom: 20px;
}

#banner .banner-img img {
  /* width: 585px; */
  max-width: 585px;
  vertical-align: middle;
}

#about {
  padding-top: 130px;
}

/* #about .about-container .section-heading{
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 130px 158px;
} */

#about .about-container {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff8f3;
  padding: 130px 158px;
}
#about .section-heading {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}

#about .about-container .about-info {
  display: flex;
  justify-content: space-around;
}

.about-info .info-card p {
  font-size: 20px;
  line-height: 30px;
  color: #757575;
}
.about-info .info-card h4 {
  font-size: 20px;
  line-height: 30px;
  color: #474747;
}

#skills {
  padding-top: 130px;
}

#skills .skill-container {
  width: 80%;
  max-width: 1140px;
  margin: 0 auto;
}

#skills .skill-container .skill-box {
  display: flex;
  gap: 24px;
}

.skill-box .skill-card {
  padding: 30px;
  max-width: 267px;
}

.skill-box .skill-card img {
  max-width: 44px;
  padding-bottom: 30px;
}

.skill-box .skill-card h3 {
  font-size: 20px;
  max-width: 174px;
  color: #181818;
  margin-bottom: 20px;
}

.skill-box .skill-card p {
  font-size: 16px;
  line-height: 28px;
  max-width: 201px;
  color: #757575;
  /* margin-bottom: 30px; */
}

.skill-box .skill-card {
  box-shadow: 0px 6px 50px 0px #00000034;
}
